<div class="tab grid-row js-tab" id="{{id}}">
  <div class="grid-col-uv-12">
    <div class="main-menu js-main-menu"></div>
    <div class="selected-window js-selected-window"></div>
  </div>
  <div class="grid-col-uv-12">
    <div class="features-and-services js-features"></div>
    <div class="features-and-services js-services"></div>
    <div class="total-price js-total-price"></div>
  </div>
</div>
